.bg-theme {
    background-color: #f3f5f6;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 6px;
    color: #231f20;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url(images/arrow.svg);
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #231f20;
}

.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #231f20;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #231f20;
}

.feature-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.shadow-dark {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5) !important;
}

.resize-font5 {
    font-size: 250%;
}

.btn-dark2 {
    --bs-btn-color: #f3f5f6 !important;
    --bs-btn-bg: #212529 !important;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #f3f5f6;
    --bs-btn-hover-bg: #1a1a1a;
    --bs-btn-hover-border-color: #1a1a1a;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #f3f5f6;
    --bs-btn-active-bg: #1a1a1a;
    --bs-btn-active-border-color: #1a1a1a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f3f5f6;
    --bs-btn-disabled-bg: #08090a;
    --bs-btn-disabled-border-color: #212529;
}

.btn-light2 {
    --bs-btn-color: #212529;
    --bs-btn-bg: #f3f5f6;
    --bs-btn-border-color: #f3f5f6;
    --bs-btn-hover-color: #f3f5f6 ;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #f3f5f6;
    --bs-btn-active-bg: #1a1a1a;
    --bs-btn-active-border-color: #1a1a1a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: #f3f5f6;
    --bs-btn-disabled-border-color: #f3f5f6;
}

.btn-outline-dark2 {
    --bs-btn-color: #f3f5f6 !important;
    --bs-btn-bg: #f3f5f6;
    --bs-btn-border-color: #f3f5f6 !important;
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-bg: #f3f5f6;
    --bs-btn-hover-border-color: #f3f5f6;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #212529;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: #f3f5f6;
    --bs-btn-disabled-border-color: #f3f5f6;
}

.btn-outline-light2 {
    --bs-btn-color: #212529;
    --bs-btn-bg: #f3f5f6 !important;
    --bs-btn-border-color: #f3f5f6;
    --bs-btn-hover-color: #212529 ;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #212529;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: white;
    --bs-btn-disabled-border-color: white;
}

@media (max-width:1200px) {
    .overflow-hidden2 {
        overflow:  hidden;
    }
}

@media (min-width:1200px) {
    .shadow-lg2 {
        box-shadow: var(--bs-box-shadow-lg) !important;
    }
}

@media (min-width:769px) {
    .resize-font1 {
        font-size: 100%;
    }

    .resize-font2 {
        font-size: 150%;
    }

    .resize-font3 {
        font-size: 150%;
    }
}

@media (max-width:768px) {
    .resize-font1 {
        font-size: 150%;
    }

    .resize-font2 {
        font-size: 150%;
    }

    .resize-font3 {
        font-size: 150%;
    }
}

@media (min-width:992px) {
    .justify-content-between2 {
        justify-content: space-between;
    }
}

@media (max-width:991px) {
    .justify-content-center2 {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .width-button {
        width: 65%;
    }

    .realign-text {
        text-align: justify;
    }

}

@media (min-width: 1200px) {
    .width-button {
        width: 50%;
    }

    .realign-text {
        text-align: justify;
    }
}

@media (max-width: 767px) {
    .width-button {
        width: 40%;
    }

    .realign-text {
        text-align: justify;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .realign-text {
        text-align: start;
    }

    .resize-font4 {
        font-size: 180%;
    }
}